.elucidate-example-picker {
  margin-bottom: 1rem;
}

.elucidate-example-picker label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: .5rem;
}

.elucidate-select {
  position: relative;
  display: block;
}

.elucidate-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding: .5rem;
  box-sizing: border-box;
  font-size: 16px;
}

.elucidate-select::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 24px;
  height: 100%;
  content: "";
  position: absolute;
  opacity: .5;
  right: 1em;
  top: 0;
  z-index: 2;
  pointer-events: none;
  display: none;
}

@supports (-webkit-appearance: none) or (appearance: none) or ((-moz-appearance: none) and (mask-type: alpha)) {
  .elucidate-select::after {
    display: block;
  }
  .elucidate-select select {
    padding-right: 2em;
    background: none;
    border: 1px solid rgba(0, 0, 0, .10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .elucidate-select select:focus {
    border-color: rgba(0, 0, 0, .30);
  }
}

.elucidate-preview {
  background: #f4f5fa;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.elucidate-tabs {
  margin: 0 0 1em 0;
}

.elucidate-tabs .nav-tabs {
  margin: 0 0 .25em 0;
  padding: 0;
}

.elucidate-tabs .tab {
  display: inline-block;
  color: darkgrey;
}

.elucidate-tabs .tab:hover {
  color: grey;
}

.elucidate-tabs .tab.active {
  color: #222;
  font-weight: 600;
}

.elucidate-tabs .tab:not(:last-of-type) {
  margin-right: 1em;
}

.elucidate-tabs .tab a {
  display: block;
  padding: .5em 0;
  text-decoration: none;
  color: inherit;
}